<<<<<<< HEAD
=======
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fff3f3;
}

h2 {
  font-family: "Italiana", serif;
}

p {
  font-family: "Quicksand", sans-serif;
}
>>>>>>> 1eb4384662b38ba5a6e42a418292fb17eadf1be1
